@media screen and (min-width: 1000px) {
    .header-container #menu-toggle {
        display:none;
    }
    .site-header nav {
        display:block;
    } .header-container img {
        left: 0;
    }
  }