@import 'base/module';


@import 'fontsizes.scss';
@import 'colorPalette.scss';
@import 'single-post.scss';
@import 'header.scss';
@import 'single-post.scss';
@import '350width.scss';
@import '750width.scss';
@import '1000width.scss';
@import '1245width.scss';
@import 'nightmode.scss';

* {
    box-sizing: border-box;
}.category-header i {
    color: $seventypblack;
}
.screen-reader-text {
    display:none;
}
::selection {
    background: $highlighter; /* WebKit/Blink Browsers */
    color: $black;
  }
  ::-moz-selection {
    background: $highlighter; /* Gecko Browsers */
    color: $black;
  }



  html {
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}
footer {
    border-top: 1px solid $black;
    text-align: center;
    margin-top: 60px;
    display: block;
    position: relative;
    img {
        max-width:233px;
        width:100%;
    }
    .copyright {
        font-size: 14px;
        font-weight: 400;
        color: $thirtypblack;
        margin: 60px 0 25px 0;
    }
    ul {
        margin: 60px 0;
    }
    ul a {
        margin: 0px 40px;
        font-weight: 700;
        font-size: 18px;
    }

    ul a:hover {
        color: $mainaccent;
    }
    
}
li {
    display: inline-block;
}

body {
    font-family: 'Nanum Gothic', sans-serif;                                     
    font-weight: 400;    
    font-style: normal;
    background: $offwhite;
}

@media screen and (max-width: 750px) {
    body {
        background: $white;
    }
}
body { 
    opacity: 0; 
    transition: opacity .5s; 
} 
a {
    color: $black;
    text-decoration: none;
}

.show {
    display: block;
}


em {
    font-style: italic !important;
}
strong {
    font-weight: 700 !important;
}

.qmn_radio_answers {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
}

.qsm-quiz-form {
    display: block;
    height: 100%;
}

.qmn_quiz_radio {
    visibility: hidden;
}

img.alignnone.size-medium {
    max-width: 100%;
}







